.textdiv {
    background-color: lightgray;
    width: 400px;
    height: 400px;
    margin-left: 350px;
}

.inpsearch {
    /* margin-left: 100px; */
}

.h1class {
    background-color: burlywood;
    border: 1px solid;
}

th,
td {
    border: 1px solid;
    padding: 5px 10px;
}

table {
    border: 1px solid;
    border-collapse: collapse;
    direction: rtl;
    margin: 20px auto;
}